@model Data.Entities.Project

<div class="project card" data-project-id="@Model.ProjectName">
    <div class="card-header">
        <div class="project-image">
            <img src="~/images/project-icon.svg" alt="Project Icon" />
        </div>

        <div class="project-name">@Model.ProjectName</div>
        <span class="client-name">@Model.ClientName</span>

        <div class="project-actions-container">
            <button type="button" class="btn-action" data-type="dropdown" data-target="#project-dropdown-@Model.ProjectName.Replace(" ", "-").ToLower()">
                <i class="fa-solid fa-ellipsis"></i>
            </button>

            <div id="project-dropdown-@Model.ProjectName.Replace(" ", "-").ToLower()" class="dropdown">
                <div class="dropdown-body">
                    <nav class="dropdown-actions">
                        <button class="dropdown-action btn-edit-project" type="button" data-project-id="@Model.Id">
                            <i class="fa-solid fa-pen-to-square"></i>
                            <span>Edit</span>
                        </button>
                        <div class="divider"></div>
                        <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="dropdown-action remove">
                                <i class="fa-regular fa-trash-can"></i>
                                <span>Delete Project</span>
                            </button>
                        </form>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <p>@Model.Description</p>
    </div>
</div>

